<!--home-->
<div class="container">
    <div class="row">
        <div class="col-sm">
            <a href="../venderlist" role="button" class="btn btn-outline-primary btn-lg btn-block text-center">
                <span><i class="fa fa-home fa-3x"></i></span>
                <br>
                Vender
            </a>
        </div>

        <div class="col-sm">
            <a href="../personlist" role="button" class="btn btn-outline-primary btn-lg btn-block text-center">
                <span><i class="fa fa-dashboard fa-3x"></i></span>
                <br>
                ContactPerson
            </a>
        </div>

        <div class="col-sm">
            <a href="." role="button" class="btn btn-outline-primary btn-lg btn-block text-center">
                <span><i class="fa fa-money fa-3x"></i></span>
                <br>
                News Update
            </a>
        </div>

    </div>
</div>

